extends layout.pug

block content
    h1 Register
    form(method = 'POST', action = '/users/register')
        label Email:
        input.form-control(name = 'email', type = 'text')
        label Username:
        input.form-control(name = 'username', type = 'text')
        label Password:
        input.form-control(name = 'password', type = 'text')
        label Enter the password again:
        input.form-control(name = 'password2', type = 'text')
    br
    input.btn.btn-primary(type = 'submit', value = 'Submit')