extends layout

block content

    include login_alert
    //add article to DB
    .container.article-form.fadeInDown
        form(method = 'POST', action = '/users/articles/add')
            h1 #{title}
            .article_icon
                img(src='/image/add.png' alt='Petition', width = '100px', height = '100px')

            .row
                .col-md-6
                    .form-group
                        input.form-control(type='text' name='author' value=user.username, readonly)
                    .form-group
                        input.form-control(type='text' name='Email' value=user.email, readonly)
                    .form-group
                        select#category(name='category')
                            option(value='', disabled selected) Find a category for your petition
                            option(value='Learning') Learning
                            option(value='Facility') Facility
                            option(value='Social') Social
                            option(value='Safety') Safety
                            option(value='Other') Other
                    .form-group
                        input.form-control(type='text' name='title' placeholder='Title of your petition.' value='')
                    .form-group
                        textarea.form-control(name='summary' placeholder='Summary of your petition.' style='width: 100%; height: 150px;')
                    .form-group
                        input.btn.btn-primary(type='submit', value='Submit')
                .col-md-6
                    .form-group
                        textarea.form-control(name='body' placeholder='Your detailed petition' style='width: 100%; height: 385px;')
    style.
        select{
            padding-left: 14px;
            height: 40px;
            width: 100%;
        }
