extends layout

block content
    h1 #{title}
    //add article to DB
    form(method = 'POST', action = '/articles/add')
        label Title:
        input.from-control(name='title',type='text')
        label Author:
        input.from-control(name='author',type='text')
        label Body:
        textarea.from-control(name='body')
        br
        input.btn.btn-primary(type='submit', value='Submit')
    div