extends layout

block content
    h1 #{title}
    each article, i in articles
        ul
            a(href="/petition/articles/" + article._id)= article.title

    style.
        h1 {
            padding-top: 15px;
        }

        ul {
            list-style: none;
            padding-left: initial;
        }