extends layout

block content
    .bg-text
        h1= article.title
        h5= "by " + article.author
        h5= article.author_email
        h4= article.body
        br
        br
        br
        p comment:
        -if(comment != [])
            ul
                each comment, i in comments
                    li
                        strong Author:
                        = comment.author
                        br
                        strong date:
                        = comment.date
                        br
                        strong Content:
                        = comment.body
                    br

        form(method = 'POST', action = '/users/comment/'+ article._id)
            label Post your comment:
            br
            textarea.from-control(name='body')
            br
            input.btn.btn-primary(type = 'submit', value = 'Post Comment')
        style.
            h5, li, form {
                text-align: left;
            }
            h1 {
                text-align: left;
                font-family: Georgia;
            }
            p {
                text-align: left;
                font-family: "Lucida Console";
                size: 12px;
            }
            h4 {
                text-align: left;
                font-family: Arial;
                font-size: 20px
            }
            h5 {
                text-align: left;
                font-family: Verdana;
                font-style: inherit;
                font-size: 12px;
            }