extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-secondary(href='/users/login') Login
  a.btn.btn-secondary(href='/users/register') Register
  a.btn.btn-secondary(href='/articles') Articles
  a.btn.btn-secondary(href='/articles/add') Add Articles


