extends layout
block content
  link(rel='stylesheet' href='/stylesheets/home_page.css')
  //link(rel='stylesheet' href='/stylesheets/velocity_template.css')
  .hp
    .content1
      .bg_welcome_image
        .bg_hero-text
          h1 Welcome to UMSV
          h3.
            University of Melbourne Student Voice
            The best student petition website






    //.hp_content
      .hp_left-half
        .hp_article
          .home_page_welcome_message
            h1 Welcome to UMSV
            p University of Melbourne Student Voice The best student petition website
      .hp_right-half
        .hp_article
          //h1 Your choice Your voice
          //p.
            There are thousands of people signing petitions each day on the internet, have you ever wondered? Does your vote
            really matter? Have any ever really worked? This question could be answered by tracing back to human history,
            petition had stood a big part throughout the history, in late modern period 1891, 30000 signatures from women
            in Victoria were collected to support the right to vote for women, this petition plays an  important role in
            Federation, as in 1901 Australia became the first nation in the world to give women both the right to vote and
            stand for the government (Parliament of Victoria - Women's Suffrage Petition, 2016). In 2013 a success petition
            was made on the right for the gay leader to participate in the boy scouts (Davidson, 2015). Also ban the sale of
            whale and dolphin on Amazon (Melissa, 2012), freedom for Meriam Ibrahim (Clarke, 2014) and much more. All those
            requests would not come true without petition. In fact, petitioning to the government is a basic right for
            Australian citizens protected by the law (Infosheet 11 - Petitions – Parliament of Australia, n.d.).
    //section
      p.
        There are thousands of people signing petitions each day on the internet, have you ever wondered? Does your vote
        really matter? Have any ever really worked? This question could be answered by tracing back to human history,
        petition had stood a big part throughout the history, in late modern period 1891, 30000 signatures from women
        in Victoria were collected to support the right to vote for women, this petition plays an  important role in
        Federation, as in 1901 Australia became the first nation in the world to give women both the right to vote and
        stand for the government (Parliament of Victoria - Women's Suffrage Petition, 2016). In 2013 a success petition
        was made on the right for the gay leader to participate in the boy scouts (Davidson, 2015). Also ban the sale of
        whale and dolphin on Amazon (Melissa, 2012), freedom for Meriam Ibrahim (Clarke, 2014) and much more. All those
        requests would not come true without petition. In fact, petitioning to the government is a basic right for
        Australian citizens protected by the law (Infosheet 11 - Petitions – Parliament of Australia, n.d.).
