extends layout
block content
  link(rel='stylesheet' href='/stylesheets/home_page.css')
  //link(rel='stylesheet' href='/stylesheets/velocity_template.css')
  .hp
    .content1
      .bg_welcome_image
        .bg_hero-text.fade-in
          h1 Welcome to UMSV
          p1 University of Melbourne Student Voice
          br
          p2 Voice your opinion here bravely!
          br
          a.nav-link(href='/users/login')
            br
            button.btn.btn-primary.btn-lg Get Start

          style.
            h1{
              font-size: 60px;
            }