extends layout
block content
  link(rel='stylesheet' href='/stylesheets/home_page&aboutus.css')

  .hp
    .content1
      .bg_welcome_image
        .bg_hero-text.fade-in
          h1 Welcome to UMSV
          p1 University of Melbourne Student Voice
          br
          p2 Voice your opinion here bravely!
          br
          if user
            a.nav-link(href='/users/dashboard')
              br
              button.btn.btn-primary.btn-lg Welcome Back
          else
            a.nav-link(href='/users/login')
              br
              button.btn.btn-primary.btn-lg Get Start
          style.
            h1{
              font-size: 60px;
            }