extends layout.pug

block content
    .wrapper.fadeInDown
        h1 Login
        img(src='/image/login.png' alt='log in' width= '100px' height='100px')
        include login_alert
        form(method = 'POST', action = '/users/login')
            label UM Email:
            input.form-control(name = 'email', type = 'text')
            label Password:
            input.form-control(name = 'password', type = 'password')
            br
            .form-group.text-center
                input.btn.btn-primary(type = 'submit', value = 'Log In')
            .form-group.text-center
                a.btn.btn-secondary(href='/users/register') Register