
each err,inddex in errors.errors
    .alert.alert-warning.alert-dismissible.fade.show(role='alert' style= 'background-color: #ffbdbd; border-color: #ffbdbd')
        .message(style= 'color: #a85e5e;') #{err.msg}
        button.close(type='button' data-dismiss='alert' aria-label='Close' style="color: #856404;")
            span(aria-hidden='true') &times;
