extends layout.pug

block content

    .wrapper.fadeInDown
        h1 Register
        img(src='/image/register.png' alt='Register' width= '100px' height='100px')
        include register_alert
        form(method = 'POST', action = '/users/register')
            label UM Email:
            input.form-control(name = 'email', type = 'text')
            label Username:
            input.form-control(name = 'username', type = 'text')
            label Password:
            input.form-control(name = 'password', type = 'password')
            label Enter the password again:
            input.form-control(name = 'password2', type = 'password')
            br
            input.btn.btn-primary(type = 'submit', value = 'Submit')