body, html{
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*color: white;*/
  /*text-shadow: 2px 2px 2px grey;*/
  /*margin: -50px -50px -50px -50px;*/
  /*background-image: url("../image/user_background.jpg");*/
  height: 100%;
  margin: 0;
}



.container{
  /*font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*color: white;*/
  /*text-shadow: 2px 2px 2px grey;*/
  /*margin: -50px -50px -50px -50px;*/
  /*background-image: url("../image/user_background.jpg");*/
  height: 100%;
  margin: 0;
}


a {
  color: white;
}

















