body, html{
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*color: white;*/
  /*text-shadow: 2px 2px 2px grey;*/
  /*margin: -50px -50px -50px -50px;*/
  /*background-image: url("../image/user_background.jpg");*/
  height: 100%;
  margin: 0;

  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

a {
  color: white;
}

.article-form{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.article-form h1{
  margin-bottom: 2%;
  margin-top: -10%;
  text-align: center;
  color: black;
}

.article_icon{
  text-align: center;
}

.article-form form .row{
  margin-top: 3%;
}

.fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
p{
  white-space: pre-wrap;
}