body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px grey;
  /*margin: -50px -50px -50px -50px;*/
  background-image: url("https://about.unimelb.edu.au/__data/assets/image/0024/108843/University-Welcome-sign.jpg");
  /*background-image: url("../image/user_background.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;

}

a {
  color: white;
}
